GPT_API = ""
GEMINI_API = ""
GEMINI_BASE_URL = "https://generativelanguage.googleapis.com/v1beta/openai/"
GROQ_API = ""
GROQ_BASE_URL = "https://api.groq.com"
OLLAMA_PATH = "http://localhost:11434"
PARENT_PATH = ""

EMBEDDING_MODEL_NAME = "sentence-transformers/all-MiniLM-L6-v2"
EMBEDDING_MODEL_PATH = "models/embedding"
EMBEDDINGS_CACHE_DIR = "cache/osha_chroma"
ENABLE_CACHE_REASONING = True

WHISPER_MODEL_SIZE = "small"
WHISPER_MODEL_PATH = "models/whisper"

PII_TRANSFORMER_MODEL_NAME = "Davlan/xlm-roberta-base-ner-hrl"
PII_TRANSFORMER_MODEL_PATH = "models/pii_transformer"
