protobuf==3.20.3

streamlit
python-dotenv
protobuf==3.20.3

langgraph
langchain
langchain-core
langchain-openai
langchain-chroma
langchain-huggingface
langchain-community
langchain-classic
langsmith

chromadb
sentence-transformers

presidio-analyzer
presidio-anonymizer
presidio-image-redactor

Pillow
gptcache
lingua-language-detector
openai
bm25-retriever

langchain-tavily
tavily-python

langchain-pinecone
pinecone
