protobuf==3.20.3

streamlit
python-dotenv
protobuf==3.20.3
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
langgraph
langchain
langchain-core
langchain-openai
langchain-chroma
langchain-huggingface
langchain-community
langchain-classic
langsmith
torchvision
faster-whisper==1.2.1
chromadb
sentence-transformers

presidio-analyzer
presidio-anonymizer


langchain-openai
openai


Pillow
gptcache
lingua-language-detector
openai


langchain-tavily
tavily-python

langchain-pinecone
pinecone
